---
layout: page
---
<div class="row">
    <div class="col-md-12 shadow-sm p-3 mb-2 bg-white rounded">
        <h2>Welcome</h2>
        The Undernet Coder Committee is a group of volunteers responsible for the design and maintenance of Undernet's core software services.
    </div>
</div>

<div class="row">
    <div class="col-md-12 shadow-sm p-3 mb-2 bg-white rounded mt-2 projects">
        <h2>Projects</h2>
        <div class="row">
            <div class="col-md-4 col-sm-12 mt-2">
                <h4><a href="https://github.com/undernetirc/ircu2">IRCu</a></h4>
            </div>
            <div class="col-md-8 d-none d-sm-none d-md-block text-right mt-2">
                <a href="https://github.com/undernetirc/ircu2">
                    <img src="https://img.shields.io/github/last-commit/undernetirc/ircu2?color=%2300cc00&style=for-the-badge">
                </a>
                <a href="https://github.com/UndernetIRC/ircu2/releases/latest">
                    <img src="https://img.shields.io/github/v/release/undernetirc/ircu2?color=%23007bff&style=for-the-badge">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                IRCu is the core IRC daemon that all Undernet servers and hubs are running.
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 mt-2">
                <h4><a href="https://github.com/undernetirc/gnuworld">GNUWorld</a></h4>
            </div>
            <div class="col-md-8 d-none d-sm-none d-md-block text-right mt-2">
                <a href="https://github.com/undernetirc/gnuworld">
                    <img src="https://img.shields.io/github/last-commit/undernetirc/gnuworld?color=%2300cc00&style=for-the-badge">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                GNUWorld is the set of IRC services that power Undernet's X, C and other service bots.
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12 mt-2">
                <h4><a href="https://github.com/undernetirc/cservice-web">CService-Web</a></h4>
            </div>
            <div class="col-md-8 d-none d-sm-none d-md-block text-right mt-2">
                <a href="https://github.com/undernetirc/cservice-web">
                    <img src="https://img.shields.io/github/last-commit/undernetirc/cservice-web?color=%2300cc00&style=for-the-badge">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                CService-Web is the codebase that powers Undernet's live CService web interface and user registration system.
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12 mt-2">
                <h4><a href="https://github.com/undernetirc/iauthd-c">IAuthd-c</a></h4>
            </div>
            <div class="col-md-8 d-none d-sm-none d-md-block text-right mt-2">
                <a href="https://github.com/undernetirc/iauthd-c">
                    <img src="https://img.shields.io/github/last-commit/undernetirc/iauthd-c?color=%2300cc00&style=for-the-badge">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                IAuthd-C is the reference implementation for Undernet's IAuth protocol that enables features like pre-connection security scanning, login-on-connect and more.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 shadow-sm p-3 mb-5 bg-white rounded mt-2">
        <div class="row">
            <div class="col-md-12">
                <h2>Special Thanks</h2>
                The open source projects that power the Undernet would not be possible without our fantastic community of contributors:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars0.githubusercontent.com/u/429113?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Ratler</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars3.githubusercontent.com/u/10599816?s=64&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Empus</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars1.githubusercontent.com/u/64708835?s=64&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>kN</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars3.githubusercontent.com/u/185974?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Entrope</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars2.githubusercontent.com/u/686398?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Kev</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars0.githubusercontent.com/u/93693?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Compy</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars0.githubusercontent.com/u/22875250?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Hidden</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars0.githubusercontent.com/u/525784?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Spike</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars0.githubusercontent.com/u/4143867?s=460&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Seven</small></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card profile-card-1">
                    <img src="https://avatars0.githubusercontent.com/u/11703?s=400&v=4" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2><small>Isomer</small></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>